[submodule "vendor/perf-tools"]
	path = vendor/perf-tools
	url = https://github.com/brendangregg/perf-tools.git
[submodule "vendor/bpftrace"]
	path = vendor/bpftrace
	url = https://github.com/iovisor/bpftrace.git
[submodule "vendor/bcc"]
	path = vendor/bcc
	url = https://github.com/iovisor/bcc.git
